<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayoutAlign.xs="center" class="logo"><a routerLink="/"><img src="assets/img/rsz_3miraclebus.png"></a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
       <ul fxLayout fxLayoutGap="10px" class="nav-items">
           <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
           <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
           <li *ngIf="isAuth"><a routerLink="/home">Home</a></li>
           <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
       </ul>
    </div>
</mat-toolbar>